In [36]:
#csv reading
import csv

salaryFile = open('salary_farms2.csv')

type(salaryFile)

csvreader=csv.reader(salaryFile)

In [35]:
header = []
header = next(csvreader)
header

['farm;date;day_start;day_end;lunch_break;hours_done;hourly_rate']

In [16]:
rows = []
for row in csvreader:
    rows.append(row)
    
rows

salaryFile.close()

[['wayne_thomas;18/02/2023;6:00;16:00;1:00;9:00;26.7'],
 ['wayne_thomas;20/02/2023;6:00;15:30;1:00;8:30;26.7'],
 ['wayne_thomas;21/02/2023;6:00;16:30;1:00;9:30;26.7'],
 ['wayne_thomas;22/02/0203;6:00;15:30;1:00;8:30;26.7'],
 ['wayne_thomas;23/02/2023;6:00;15:00;1:00;8:00;26.7'],
 ['wayne_thomas;24/02/2023;6:30;14:00;1:00;6:30;26.7']]

import csv
rows = []
with open("salary_farms2.csv", r) as file:
    csvreader = csv.reader(file)
    header = next(csvreader)
    for row in csvreader:
        rows.append(row)
print(header)
print(rows)

In [37]:
import csv
rows = []
with open("salary_farms2.csv", 'r') as file:
    csvreader = csv.reader(file)
    header = next(csvreader)
    for row in csvreader:
        rows.append(row)
print(header)
print(rows)

['farm;date;day_start;day_end;lunch_break;hours_done;hourly_rate']
[['wayne_thomas;18/02/2023;6:00;16:00;1:00;9:00;26.7'], ['wayne_thomas;20/02/2023;6:00;15:30;1:00;8:30;26.7'], ['wayne_thomas;21/02/2023;6:00;16:30;1:00;9:30;26.7'], ['wayne_thomas;22/02/0203;6:00;15:30;1:00;8:30;26.7'], ['wayne_thomas;23/02/2023;6:00;15:00;1:00;8:00;26.7'], ['wayne_thomas;24/02/2023;6:30;14:00;1:00;6:30;26.7']]

In [38]:
import pandas as pd
data = pd.read_csv("salary_farms2.csv")
data

  farm;date;day_start;day_end;lunch_break;hours_done;hourly_rate
0  wayne_thomas;18/02/2023;6:00;16:00;1:00;9:00;26.7
1  wayne_thomas;20/02/2023;6:00;15:30;1:00;8:30;26.7
2  wayne_thomas;21/02/2023;6:00;16:30;1:00;9:30;26.7
3  wayne_thomas;22/02/0203;6:00;15:30;1:00;8:30;26.7
4  wayne_thomas;23/02/2023;6:00;15:00;1:00;8:00;26.7
5  wayne_thomas;24/02/2023;6:30;14:00;1:00;6:30;26.7

In [33]:
import numpy as np